@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;900&display=swap");
body {
  font-family: "Poppins", sans-serif;
  background: url("../images/bg.png") no-repeat center / cover;
  background-repeat: repeat-y;
}

.secondary-color {
  color: #45ac75;
}

.banner-section {
  background-color: #1c1c1c;
  color: #ffffff;
  padding: 3rem 0;
  margin: 8rem 0;
}

.banner-title {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 50px;
  line-height: 0.9;
  margin: 0;
}

.banner-p {
  margin: 0;
  color: #d9d9d9;
  line-height: 1.3;
}

.ReadMore {
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  background-color: #45ac75;
  color: #000;
  display: inline-block;
  padding: 0.75rem 2rem;
}

.ReadMore:hover {
  color: #000000;
  text-decoration: none;
  opacity: 0.8;
}

.main-fluid {
  max-width: 100%;
  height: auto;
}

.main-img {
  position: relative;
}

.Responsiveimage {
  position: absolute;
  left: 0;
  top: -120px;
}

.nav-item {
  padding-right: 6rem;
}
.navbar-brand {
  width: 50px;
}

.navbar-brand > img {
  width: 100%;
}

.nav-link {
  font-weight: 600;
  display: block;
  padding: 0.5rem 2rem !important;
}

.navbar-light .navbar-nav .nav-link {
  color: #000000;
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  background-color: #000000;
  color: #ffffff;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #ffffff;
  background-color: blue;
}

.banner-section > .container {
  position: relative;
}

.round {
  background: url("../images/round.png") no-repeat center / 100%;
  z-index: 9;
  position: absolute;
  display: block;
  width: 170px;
  height: 170px;
}

.round-1 {
  top: -170px;
  left: 15px;
}

.round-2 {
  right: 120px;
  top: -123px;
  width: 55px;
  height: 55px;
}

.round-3 {
  right: 15px;
  top: 0px;
  width: 70px;
  height: 70px;
}

.round-4 {
  right: 0;
  bottom: -88px;
  width: 80px;
  height: 80px;
}
